@import '../../Style/main.scss';

.task {

    background: #eee;
    color: #333;
    border: 2px solid #2196f3;
    padding:30px;
    box-sizing: border-box;

    .task__row{
        display: block;
        margin-bottom: 20px;
    }
    .task__label{
        font-size: 13px;
        font-weight: 300;
        display: block;
    }
    .task__value{
        font-size: 21px;
        font-weight: 700;
    }

    &--card{
        padding: 20px;
        background: #e91e63;
        color: #fff;
        .task__row{
            display: block;
            margin-bottom: 10px;
        }
        .task__label{
            font-size: 13px;
            font-weight: 300;
            display: block;
        }
        .task__value{
            font-size: 21px;
            font-weight: 700;
        }
        @include rwd(mobile){
            .task__row{
                @include grid(1, 10px);
            }
        }
        @include rwd(tablet,desktop){
            .task__row{
                @include grid(2, 10px);
            }
        }
    }

}
