.input{

    display: inline-block;
    position: relative;
    border: 1px solid #ccc;

    background: #eee;
    padding: 10px 15px;
    width: 100%;
    box-sizing: border-box;
    box-shadow: none;

    &--search{
        margin-bottom: 20px;
        .input__input{
            @extend .input;
            padding: 30px 50px;
            font-size: 21px;
            font-weight: 100;
            padding-right: 86px;
        }
        .input__icon{
            position: absolute;
            top: 18px;
            right: 18px;
            height: 50px;
            width: 50px;
        }
    }

    &--textarea{
        @extend .input;
        height: 120px;
    }

    &--text{
        @extend .input;
    }

    &--datetime{
        @extend .input;
        padding: 0;
        display: inline-flex;
        > * {
            flex: 1;
            border: none;
            padding: 10px 15px;
        }
    }

    &--select{
        @extend .input;
    }

}
