@import '../../Style/main.scss';

.row{

    position: relative;
    display: block;
    width: 100%;

    &--contact-form{
        margin-bottom: 20px;
    }

    &--widget-item{
        margin-bottom: 20px;
    }

}
