.menu{

    display: inline-block;
    background: none;

    .menu__list{
        display: block;
        width: 100%;
        list-style: none;
        text-align: right;
    }

    .menu__item{
        display: inline-block;
        padding: 10px;
    }

}
