@import '../../Style/main.scss';

.grid{

    position: relative;
    display: grid;
    grid-gap: 20px;

    &--contact-form{
        padding: 10px 0 30px;
    }

    &--fields{
        @extend .grid;
        @include rwd(mobile){
            @include grid(1, 20px);
        }
        &--1{
            @extend .grid--fields;
        }
        &--2{
            @extend .grid--fields;
            @include rwd(tablet,desktop){
                @include grid(2, 20px);
            }
        }
    }

    &--field{
        position: relative;
        @include rwd(tablet,desktop){
            @include grid(1, 5px);
        }
        &--half{
            @extend .grid--field;
            @include rwd(mobile){
                @include grid(1, 5px);
            }
            @include rwd(tablet,desktop){
                @include grid(1, 5px);
            }
        }
    }

    &--widget{
        padding: 30px 0 30px;
        @include grid(1, 20px);
    }

    &--widget-item{
        @include grid(1, 10px);
    }

    &--topbar{
        @include rwd(mobile){
            @include grid(1, 20px);
        }
        @include rwd(tablet,desktop){
            @include grid(2, 20px);
        }
        .grid__item{
            display: flex;
            justify-content: center;
            justify-items: center;
            align-content: center;
            align-items: center;
        }
    }

    &--main--sidebar{
        @include rwd(mobile){
            @include grid(1, 20px);
        }
        @include rwd(tablet,desktop){
            @include grid(2, 60px);
            grid-template-columns: calc(65% - 30px) calc(35% - 30px);
        }
    }

    &--nav{
        @include rwd(mobile){
            @include grid(1, 20px);
        }
        @include rwd(tablet,desktop){
            @include grid(2, 20px);
        }
    }

    &--meta{
        @include rwd(mobile){
            @include grid(1, 20px);
        }
        @include rwd(tablet, desktop){
            @include grid(2, 20px);
            .grid__item{
                max-width: 380px;
            }
        }
    }

    &--tasks{
        @include rwd(mobile){
            @include grid(1, 20px);
        }
        @include rwd(tablet){
            @include grid(2, 20px);
        }
        @include rwd(desktop){
            @include grid(3, 20px);
        }
    }

}
