@import '../../Style/main.scss';

.container{

    margin: auto;
    max-width: 1200px;
    padding-left: 15px;
    padding-right: 15px;

    @include rwd(mobile){
        padding-left: 15px;
        padding-right: 15px;
        .container{
            padding-left: 10px;
            padding-right: 10px;
        }
    }
    @include rwd(tablet){
        padding-left: 30px;
        padding-right: 30px;
        .container{
            padding-left: 15px;
            padding-right: 15px;
        }
    }
    @include rwd(desktop){
        padding-left: 45px;
        padding-right: 45px;
        .container{
            padding-left: 15px;
            padding-right: 15px;
        }
    }

}
