.card{

    &--slide{

        position: relative;
        background: red;
        padding: 20px;
        height: 450px;

        .card__thumbnail{
            width: 100%;
            display: block;
            object-fit: cover;
            position: absolute;
            left: 0;
            top: 0;
            right: 0;
            bottom: 0;
            height: 100%;
        }

        .card__title{
            font-size: 24px;
            margin: 5px 0 5px;
        }
    }

    &--service{

        padding: 15px;

        .card__thumbnail{
            width: 100%;
            height: 300px;
            display: block;
            object-fit: cover;
        }

        .card__title{
            font-size: 24px;
            margin: 5px 0 5px;
        }

    }

}
