@mixin grid( $columns:1, $gap:0px ){
    $gapCount: $columns - 1;
    $gapSummary: $gapCount * $gap;
    $colGap: $gapSummary / $columns;
    $col: 100% / $columns;
    @if $colGap > 0 {
        grid-template-columns: repeat($columns, calc(#{$col} - #{$colGap}));
    }@else {
        grid-template-columns: repeat($columns, #{$col});
    }
    grid-gap: #{$gap};
    display: grid;
}



@mixin gridCols( $breakpoint:0, $columns:1, $gap:0px ){
    @include rwd( $breakpoint ){
        $gapCount: $columns - 1;
        $gapSummary: $gapCount * $gap;
        $colGap: $gapSummary / $columns;
        $col: 100% / $columns;
        @if $colGap > 0 {
            grid-template-columns: repeat($columns, calc(#{$col} - #{$colGap}));
        }@else {
            grid-template-columns: repeat($columns, #{$col});
        }
    }
}
