@import '../../Style/main.scss';

@mixin galleryitem($rowStart:1, $rows:1, $colStart:1, $cols:1, $bck: red) {
    grid-column-start: $colStart;
    grid-column-end: $colStart + $cols;
    grid-row-start: $rowStart;
    grid-row-end: $rowStart + $rows;
    //border: 2px solid $bck;
}

.gallery{

    .gallery__grid{
        display: grid;
        grid-gap: 20px;
    }

    .gallery__item{

        width: 100%;
        height: 100%;
        display: block;
        overflow: hidden;
        padding: 0px;
        box-sizing: border-box;
        border: 1px solid #ccc;
        box-shadow: 1px 1px 5px 2px rgba(0,0,0,.03);

        .gallery__img {
            height: 100%;
            width: 100%;
            display: block;
            object-fit: cover;
        }

    }

    @include rwd(mobile){
        $row: 100% / 6;
        $rowGap: (20px * 6) / 5;
        .gallery__grid{
            grid-template-columns: repeat(2, calc(50% - 10px));
            grid-template-rows: repeat(6, calc(#{$row} - #{$rowGap}));
            grid-auto-flow: column;
        }
        .gallery__item{
            &:nth-child(1){
                @include galleryitem(1,1,1,1);
            }
            &:nth-child(2){
                @include galleryitem(1,1,2,1);
            }
            &:nth-child(3){
                @include galleryitem(2,2,1,2,yellow); //big
            }
            &:nth-child(4){
                @include galleryitem(4,1,1,1);
            }
            &:nth-child(5){
                @include galleryitem(5,2,1,1,orange); //medium
            }
            &:nth-child(6){
                @include galleryitem(4,1,2,1,);
            }
            &:nth-child(7){
                @include galleryitem(5,1,2,1);
            }
            &:nth-child(8){
                @include galleryitem(6,1,2,1);
            }
        }
    }

    @include rwd(tablet){
        $nRows: 4;
        $row: 100% / $nRows;
        $rowGap: (20px * $nRows) / ($nRows - 1);
        $nCols: 3;
        $col: 100% / $nCols;
        $colGap: (20px * $nCols) / ($nCols - 1);
        .gallery__grid{
            grid-template-columns: repeat(#{$nCols}, calc(#{$col} - #{$colGap}));
            grid-template-rows: repeat(#{$nRows}, calc(#{$row} - #{$rowGap}));
            grid-auto-flow: column;
        }
        .gallery__item{
            &:nth-child(1){
                @include galleryitem(1,1,1,1);
            }
            &:nth-child(2){
                @include galleryitem(1,1,2,1);
            }
            &:nth-child(3){
                @include galleryitem(2,2,1,2, yellow);//big
            }
            &:nth-child(4){
                @include galleryitem(3,1,3,1);
            }
            &:nth-child(5){
                @include galleryitem(1,2,3,1,orange);  //medium
            }
            &:nth-child(6){
                @include galleryitem(4,1,1,1);
            }
            &:nth-child(7){
                @include galleryitem(4,1,2,1);
            }
            &:nth-child(8){
                @include galleryitem(4,1,3,1);
            }
        }
    }

    @include rwd(desktop){
        $nRows: 3;
        $row: 100% / $nRows;
        $rowGap: (20px * $nRows) / ($nRows - 1);
        $nCols: 4;
        $col: 100% / $nCols;
        $colGap: (20px * $nCols) / ($nCols - 1);
        .gallery__grid{
            grid-template-columns: repeat(#{$nCols}, calc(#{$col} - #{$colGap}));
            grid-template-rows: repeat(#{$nCols}, calc(#{$row} - #{$rowGap}));
            grid-auto-flow: column;
        }
        .gallery__item{
            &:nth-child(1){
                @include galleryitem(1,1,1,1);
            }
            &:nth-child(2){
                @include galleryitem(1,1,2,1);
            }
            &:nth-child(3){
                @include galleryitem(1,2,3,2,yellow); //big
            }
            &:nth-child(4){
                @include galleryitem(2,1,1,1);
            }
            &:nth-child(5){
                @include galleryitem(2,2,2,1,orange); //medium
            }
            &:nth-child(6){
                @include galleryitem(3,1,1,1);
            }
            &:nth-child(7){
                @include galleryitem(3,1,3,1);
            }
            &:nth-child(8){
                @include galleryitem(3,1,4,1);
            }
        }
    }

}
