.section{

    position: relative;
    margin: 0 0 0;
    overflow: hidden;

    &--contact{
        margin: 0 0 50px;
    }

    &--nav{
        margin: 0 0 30px;
    }

    &--content{
        margin: 0 0 30px;
    }

    &--meta{
        padding: 50px 0 80px;
        margin: 0;
    }

    &--copy{
        background: #050b2d;
        margin: 0;
        padding: 20px 0 30px;
    }

}
