.page{

    background: #ededed;
    color: #111;
    //background: #2196f3;
    //background-image: linear-gradient(to bottom right, #2196f3, #00bcd4);
    min-height: 100vh;
    width: 100%;
    box-sizing: border-box;

    position:relative;
    min-height: 100vh;
    width:100%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    padding: 0;
    overflow: hidden;

    .page__header{
        position: relative;
        z-index: 2;
        width: 100%;
        padding: 0;
        z-index: 1000;
        background: #0c1d7d;
        padding: 20px 0 20px;
        color: #fff;
    }
    .page__body{
        background: #ededed;
        color: #111;
        position: relative;
        z-index: 2;
        flex: 1;
        width: 100%;
        padding: 0;
    }
    .page__footer{
        color: #fff;
        padding: 0;
        position: relative;
        z-index: 2;
        width: 100%;
        background: #0c1d7d;
    }

}
